
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="copyright" content="本页版权 www.98k.com 98k中文网所有。All Rights Reserved" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="https://static.98k.com/favicon.ico" />
    <title>98k中文网</title>
    <meta name="keywords" content="焚天圣尊阅读页,第一章  沉重打击" />
    <meta name="description" content="98k中文网最新更新焚天圣尊,本章内容为第一章  沉重打击的全文阅读页,焚天圣尊最新章节免费阅读,页面无弹窗,访问速度快尽在98k小说中文网。" />
    <link rel="stylesheet" href="~/css/basic.min.css" />
    <link rel="stylesheet" href="~/css/reader.min.css" />
    <script>
        function rSetDef() {
            function a() {
                var key = "rSet";
                var arr, reg = new RegExp("(^| )" + key + "=([^;]*)(;|$)");
                if (arr = document.cookie.match(reg)) {
                    return unescape(arr[2])
                }
                else {
                    return null
                }
            }
            if (a()) {
                return (a().split("_"))
            }
            else {
                return "1_3_1_14".split("_")
            }
        }
    </script>
    <script src="~/jquery-3.1.1.js"></script>
    <script>
        function ToSearch() {
            location.href = '/Home/Search?keyword=' + $("[name=keyword]").val();
        }
    </script>
</head>
<body scriptSign="chapter" monkeyId="98k-chapter" forumId="212336" bookId="770753" bookName="焚天圣尊"
      authorId="" authorName="" level="" tomeId="1691205" chapterId="43012494"
      chapterLevel="0" lastChapterId="0" nextChapterId="43023875" chapterName="第一章  沉重打击"
      isMemberBook="false" isMonthOrderBook="" isUserDonate="true" userFactor="5"
      vipUserFactor="3" currentUserFactor="5" _pgid="88" chapterDelayRelease="false"
      reader="chapter" donateRate="1"
      logger="8000:/click/1008/1/770753/F/43012494/49552802/2018-08-29/50297482/chapter" class="rb_1">
    <script>document.body.className = "rb_" + rSetDef()[0]</script>
    <div class="head-fixed-reader head-simple">
        <div class="wrap">
            <div class="head-top clearfix">
                <div class="logo imgbox fl"><a href="http://www.98k.com"><img src="~/picture/logo.png" alt="logo"></a></div>
                @*全文检索11111*@
                <form id="commSearch" name="searchForm" method="post"
                      action="" target="_blank">
                    <div class="search-box fl" data-hook="searchSuggest">
                        <input class="search-text fl" name="keyword" type="text"
                               placeholder="雪中悍刀行" autocomplete="off" disableautocomplete /> <input type="button" onclick="ToSearch()" class="search-btn fr" />
                    </div>
                </form>

                <div class="pay fr"><a class="user_pay" href="http://pay.98k.com" target="_blank">充值</a></div>
                <div class="menu clearfix">
                    <a href="http://www.98k.com">首页</a>
                    <div class="cate tabA">
                        <a href="##">分类<em class="icon"></em></a>
                        <div class="tabA-float cate-cell">
                            <ul>
                                <li><a href="http://www.98k.com/category/1.html">奇幻玄幻</a></li>
                                <li><a href="http://www.98k.com/category/3.html">武侠仙侠</a></li>
                                <li><a href="http://www.98k.com/category/6.html">历史军事</a></li>
                                <li><a href="http://www.98k.com/category/9.html">都市娱乐</a></li>
                                <li><a href="http://www.98k.com/category/21.html">竞技同人</a></li>
                                <li><a href="http://www.98k.com/category/15.html">科幻游戏</a></li>
                                <li><a href="http://www.98k.com/category/18.html">悬疑灵异</a></li>
                                <li><a href="http://www.98k.com/category/40.html">二次元</a></li>
                            </ul>
                        </div>
                    </div>
                    <a href="http://www.98k.com/rank.html">排行</a>
                    <a href="http://www.98k.com/store.html">书库</a>
                    <a href="http://www.98k.com/store/c0/c0/b0/u0/p1/v9/s1/t0/u0/i1/ALL.html">完本</a>
                    <a href="http://author.98k.com" target="_blank">作者专区</a>
                </div>
                <div class="right-wrap-login ud_userTox">
                    <div class="unlogin ud_unlogin clearfix">
                        <div class="login fl"><a class="user_login" href="https://passport.98k.com">登录</a></div>
                        <div class="regist fl"><a class="user_register" href="https://passport.98k.com/webreg">注册</a></div>
                    </div>
                    <div class="logon ud_loged clearfix" style="display:none;">
                        <div class="user tabA imgbox">
                            <img class="ud_avatar ud_goUsrCenter" src="~/picture/book.png" alt="" target="_blank">
                            <div class="user-blank tabA-float">
                                <a href="javascript:void(0);" class="quit ud_logout">退出</a>
                                <div class="user-name ud_goUsrCenter"><span class="ud_nickName"></span><em class="icon"></em></div>
                                <div class="user-info clearfix">
                                    <div class="user-info-cell ud_money">
                                        <span class="item_loading"></span>
                                    </div>
                                    <div class="user-info-cell ud_ticket">
                                        <span class="item_loading"></span>
                                    </div>
                                    <div class="user-info-cell ud_mticket">
                                        <span class="item_loading"></span>
                                    </div>
                                </div>
                                <a href="http://pay.98k.com" class="btn" target="_blank">立即充值</a>
                            </div>
                        </div>
                        <div class="message">
                            <a href="http://home.98k.com/msgIn.do" class="mes" target="_blank">消息(<span class="ud_umessage"></span>)</a>
                        </div>
                        <div class="shelf"><a href="http://home.98k.com/favoritesBook.do" target="_blank">书架</a></div>
                        <div class="foot-mark tabA">
                            <span class="mark clearfix">历史<em class="icon"></em></span>
                            <div class="tabA-float float-mark clearfix">
                                <!-- loading -->
                                <div class="ud_hisloading">
                                    <span class="item_loading"></span>
                                </div>
                                <!-- 没有记录 -->
                                <div class="ud_noHistory" style="display: none">
                                    <h2>亲爱的书友，您暂时没有阅读记录~</h2>
                                    <div class="tips">阅读记录只保存最近阅读的5本小说</div>
                                    <div class="enter"><a href="http://home.98k.com/favoritesBook.do" target="_blank">进入我的书架</a></div>
                                </div>
                                <!-- 有记录 -->
                                <div class="ud_hasHistory" style="display: none"><ul class="mark-list"></ul></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- 大包 -->
    <div class="readerPageWrap">
        <div class="h20-blank"></div>
        <!-- 推广层 -->
        <div class="goodgame"><a href="http://www.98k.com" target="_blank"></a></div>
        <!-- 主内容 -->
        <div class="rw_3" id="reader_warp">
            <script>document.getElementById("reader_warp").className = "rw_" + rSetDef()[1];</script>
            <!-- 1.	阅读器头部推荐位 -->
            <div class="com-recbox">
                <script type="text/javascript" src="~/js/240517642449.js"></script>
            </div>
            <!-- 阅读页start -->
            <div class="reader_crumb">当前位置： <a href="/Home/Index"> 首页 </a>> <a href="http://www.98k.com/category/1.html" id="type"> </a> > <a href="http://book.98k.com/book/770753.html" id="novelname"></a> > 正文</div>
            <!-- 包裹层 -->
            <div class="readerMain" id="readerFt" class="rft_1">
                <script>document.getElementById("readerFt").className = "rft_" + rSetDef()[2]; document.getElementById("readerFt").style.fontSize = rSetDef()[3] + "px";</script>
                <!-- 内容主盒 -->
                <div class="reader_box" style="-moz-user-select:none;-webkit-user-select:none;" unselectable="on" onselectstart="return false;">
                    <div class="marker " tomeId="" chapterId="" id="bookmarks" onclick="Add()"></div>
                    <div class="title">
                        <div class="iconbox" style="display:none;">
                            <em class="vip"></em>
                        </div>
                        <div class="title_txtbox"></div>
                    </div>
                    <div class="bookinfo">
                        作者：<a href="http://home.98k.com/show/userInfo/49552802.html" id="author"></a>&nbsp;&nbsp;|&nbsp;&nbsp;字数：<span id="number"></span>&nbsp;&nbsp;|&nbsp;&nbsp;更新时间：<span id="time"></span>
                        <a href="http://book.98k.com/totaltome/770753/43012494.html?" class="reader_lnkbtn">全文阅读</a>
                    </div>
                    <div class="reader_line"></div>
                    <div class="content" itemprop="acticleBody"></div>
                    <!-- 订阅盒 -->
                    <div id="reader-order-box" class="reader_order" style="display:none;">
                        <h4>抱歉哦，本章节为VIP章节，需要订阅才可以继续阅读哦~<div class="fr"></div></h4>
                        <div class="reader_ordercon ud_unlogin" style="display: table-cell">
                            <button class="reader_btnred chapter-login-btn" onclick="location.href='/Home/Login'">请先登录再阅读~</button>
                        </div>
                        <div class="reader_ordercon ud_loged" style="display: none">
                            <div class="order_jump">
                                <a href="/Home/Subscribes?NId=@ViewBag.NID" class="reader_obtnred" data-price="15" data-chapterid="41523156">
                                    <p>订阅本章</p>
                                    <span>价格：15 纵横币</span>
                                </a>
                                <a href="/Home/Subscribes?NId=@ViewBag.NID" class="reader_obtnwhite">
                                    <p>批量订阅</p>
                                    <span>订阅章节：跳转至批量订阅页</span>
                                </a>
                            </div>
                            <div class="order_autotip">
                                <label>
                                    <input type="checkbox" id="order-ckx-autoorder" name="autoOrder" value="1" checked="true">
                                    <em class="checkbox"></em>
                                    该书不再显示扣费提示，此后新发章节自动购买
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- 作者的话 -->
                    <!-- 捧场按钮 -->
                    <a href="javascript:void(0)" class="big_donate"><em></em><p>捧场</p></a>
                    <div class="space_h80"></div>
                    <!-- 操作区 -->
                    <div class="chap_btnbox">
                        <a href="/Home/Catalogue?Id= @ViewBag.NID">目录</a>
                        <a onclick="Prev()" data-hook="pageStart">上一章</a>
                        <a onclick="Next()" class="nextchapter">下一章</a>
                    </div>
                    <div class="ctrl_tips">按“键盘左键←”返回上一章&nbsp;&nbsp;&nbsp;按“键盘右键→”进入下一章&nbsp;&nbsp;&nbsp;按“空格键”向下滚动</div>
                    <!-- 章评盒 -->
                    <div id="reader-chapterforum-wrap" class="chapter_forum">
                        <div class="chapter_forum_tit">
                            <h3>章节评论</h3>
                            <a href="javascript:void(0)" class="chapter_forum_btn">发表章评</a>
                        </div>
                        <div class="chapter_thread_list">
                            <div class="chapter_thread">
                                <ul class="forums-list" id="JthreadList"></ul>
                            </div>
                        </div>
                        <div class="chapter_morethread"></div>
                    </div>
                    <!-- /章评盒 -->
                </div>
                <!-- /内容主盒 -->
            </div>
            <!-- /包裹层 -->
        </div>
        <!-- 控制手柄 -->
        <div class="gamepad">
            <!-- 阅读手柄，左侧目录弹出列表层 -->
            <div id="uiGPReaderAct">
                <div class="gpd_btnpal">
                    <a class="chapterList" href="http://book.98k.com/showchapter/770753.html" target="_blank">目录</a>
                    <a class="bookShelf" href="javascript:void(0)">书架</a>
                    <a class="bookDetail" href="http://book.98k.com/book/770753.html" target="_blank">书页</a>
                    <a class="readerSetting" href="javascript:void(0)">设置</a>
                </div>
                <div class="gpd_flt_chapterlist"></div>
                <!-- 控制面板 -->
                <div class="gpd_flt_setting" data-pname="readerSetting">
                    <h4>设置</h4>
                    <div class="gpd_setLine gpd_setstyle">
                        <div class="gpd_setName">阅读背景</div>
                        <div class="gpd_setcon">
                            <a class="sbs_1 active" href="javascript:void(0)" data-style="1"></a>
                            <a class="sbs_2" href="javascript:void(0)" data-style="2"></a>
                            <a class="sbs_3" href="javascript:void(0)" data-style="3"></a>
                            <a class="sbs_4" href="javascript:void(0)" data-style="4"></a>
                            <a class="sbs_5" href="javascript:void(0)" data-style="5"></a>
                            <a class="sbs_6" href="javascript:void(0)" data-style="6"></a>
                            <a class="sbs_7" href="javascript:void(0)" data-style="7"></a>
                            <a class="sbs_8" href="javascript:void(0)" data-style="8"></a>
                        </div>
                    </div>
                    <div class="gpd_setLine gpd_setfont">
                        <div class="gpd_setName">正文字体</div>
                        <div class="gpd_setcon">
                            <a href="javascript:void(0)" class="sbf_1" data-font="1">宋体</a>
                            <a href="javascript:void(0)" class="sbf_2 active" data-font="2">黑体</a>
                            <a href="javascript:void(0)" class="sbf_3" data-font="3">微软雅黑</a>
                            <a href="javascript:void(0)" class="sbf_4" data-font="4">楷体</a>
                        </div>
                    </div>
                    <div class="gpd_setLine gpd_setsize">
                        <div class="gpd_setName">字体大小</div>
                        <div class="gpd_setcon">
                            <div class="sbw_font">
                                <a data-size="small" class="setfont" href="javascript:void(0)">A-</a>
                                <div class="nowfont">16</div>
                                <a data-size="big" class="setfont" href="javascript:void(0)">A+</a>
                            </div>
                        </div>
                    </div>
                    <div class="gpd_setLine gpd_setwidth">
                        <div class="gpd_setName">页面宽度</div>
                        <div class="gpd_setcon">
                            <a href="javascript:void(0)" class="sbw_1" data-width="1">640</a>
                            <a href="javascript:void(0)" class="sbw_2" data-width="2">800</a>
                            <a href="javascript:void(0)" class="sbw_3 active" data-width="3">默认</a>
                            <a href="javascript:void(0)" class="sbw_4" data-width="4">1280</a>
                        </div>
                    </div>
                    <div class="gpd_btnLine">
                        <button class="confirm">保存设置</button>
                        <button class="reset">恢复默认</button>
                    </div>
                    <a class="gpd_close ui_widget_close"></a>
                </div>
            </div>
            <!-- 阅读手柄，右侧下控制按钮 -->
            <div id="uiGPUserAct">
                <div class="gpd_btnpal">
                    <a class="donate" href="javascript:void(0)">捧场</a>
                    <a class="monthTicket" href="javascript:void(0)">投票</a>
                    <a class="chapterForum" href="http://forum.98k.com/212336.html" target="_blank">圈子</a>
                    <a href="#top" class="returntop">顶部</a>
                </div>
            </div>
        </div>
        <div class="h20-blank"></div>
        <!-- /大包 -->
    </div>
    <script src="~/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="~/js/require.min.js"></script>
    <script src="~/jquery-3.1.1.js"></script>
</body>
</html>
<script>
    //点击右键 无动作
    document.oncontextmenu = new Function("return false");

    //禁用F12
    document.onkeydown = function (e) {
        var currKey = 0, evt = e || window.event;
        currKey = evt.keyCode || evt.which || evt.charCode;
        if (currKey == 123) {
            window.event.cancelBubble = true;
            window.event.returnValue = false;
        }
    }

    var CId = @ViewBag.RId;

    $(function () {
        Show(CId);
    })

    function Show(CId) {
        $.ajax({
            url: "/Novel/All?Id=" + @ViewBag.NID + "&RId=" + CId,
            type: "post",
            dataType: "json",
            success: function (data) {
                console.log(data);
                if (data.length==0) {
                    location.href = "/Home/Catalogue?Id="+@ViewBag.NID;
                }
                var reg = new RegExp('\r', "g")
                var newstr = data.ChapterContent.replace(reg, '<br/>');
                $(".content").html("<p>" + newstr + "</p>");
                $("#number").html(data.WordSize);
                $("#time").html(data.CreateDate.substr(0, data.CreateDate.lastIndexOf('.')).replace("T", " "));
                $(".title_txtbox").html(data.ChapterName);
                if (data.IsVIP==1) {
                    $(".reader_order").show();
                    $(".iconbox").show();
                    if ('@ViewBag.User' != "") {
                        $(".ud_unlogin").hide();
                        $(".ud_loged").show();
                    }
                }
            },
            error: function (e) {
                console.log(e);
            }
        })

        $.ajax({
            url: "/Novel/QueryById?Id=" +@ViewBag.NID,
            type: "post",
            dataType: "json",
            success: function (data) {
                $("#author").html(data.UserName);
                $("#type").html(data.TypeNameOne);
                $("#novelname").html(data.NovelName);
            },
            error: function (e) {
                console.log(e);
            }
        })
    }

    function Prev() {
        CId = CId - 1;
        location.href = "/Home/Chapter?Id=" + @ViewBag.NID + "&RId=" + CId;
    }

    function Next() {
        CId = CId + 1;
        location.href = "/Home/Chapter?Id=" + @ViewBag.NID + "&RId=" + CId;
    }

    function Add() {
        $.ajax({
            url: "/Bookshelf/AddBookmarks?uid=" + @ViewBag.UserId + "&nid=" + @ViewBag.NID + "&cid=" + CId + "&BId=" + 2,
            type: "post",
            dataType: "json",
            success: function (data) {
                $("#bookmarks").prop("tomeId", data.NovelId);
                $("#bookmarks").prop("chapterId", data.ChapterId);
                if (data > 0) {
                    alert("添加书签成功！");
                } else {
                    alert("添加书签失败！");
                }
            }
        })
    }
</script>